.careersSection {
  /* background-color: #151b2e; */
  padding: 4rem 3rem;
  color: #fff;
}

.title {
  text-align: center;
  font-family: "FinalSix";
  font-size: 34px;
  font-weight: 400;
  color: #0f4196;
  margin-bottom: 1rem;
}

.subtitle {
  color: #0f4196;
  max-width: 1200px;
  margin-bottom: 91px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.imageWrapper {
  flex: 1 1 400px;
  position: relative;
  min-height: 520px;
  max-height: 620px;
  width: 100%;
  display: flex;
}

.image {
  object-fit: contain;
  padding: 20px;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 15px;
}


.textBlock {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.vagasTitle {
  font-family: "FinalSix";
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 15px;
  color: #0f4196;
}


.vagaBox {
  border: 1px solid #2e344d;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.vagaHeader {
  width: 100%;
  background-color: #006efa;
  border: none;
  color: #faebc8;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
}

.icon {
  color: #bc9c6b;
  font-size: 18px;
  margin-left: 1rem;
}

.vagaContent {
  background-color: #006efa;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vagaSection h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}

.vagaSection ul {
  padding-left: 0;
  list-style: none;
}

.vagaSection p,
.vagaSection li {
  font-size: 14px;
  color: #e0e0e0;
  margin: 0 0 0.5rem 0;
}

.noVagas {
  margin-top: 1rem;
  margin-bottom: 1rem;
  ;
  font-style: italic;
  color: #e0e0e0;
}

.ctaButton {
  background-color: #bc9c6b;
  color: #1e1e1e;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
  align-self: start;
  transition: background 0.3s ease;
}

.ctaButton:hover {
  background-color: #a78457;
}


@media (max-width: 1024px) {
  .careersSection {
    margin-top: 3rem;
    padding: 4rem 0;
  }

  .title {
    font-size: 22px;

  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 58px;
  }

  .vagasTitle,
  .noVagas {
    font-size: 18px;
    text-align: center;
  }

  .vagaSection h3,
  .vagaSection p,
  .vagaSection li,
  .vagaHeader {
    font-size: 12px;

  }

  .imageWrapper {
    min-height: 380px;
    max-height: 420px;
  }

  .image {
    padding: 10px;
    border-radius: 20px;
  }

  .preBlock {
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
  }
}



.preBlock {
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  color: #e0e0e0;
}

.nutriContent {
  width: 100%;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #2e344d;
  padding: 1rem 1.2rem;
  border-radius: 6px;
}

.nutriTable {
  white-space: pre-wrap;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.8;
  color: #faebc8;
  font-weight: 400;
}

.nutriTable b {
  color: #bc9c6b;
}

.nutriTable em {
  color: #bc9c6b;
  font-style: normal;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .nutriContent {
    padding: 0.8rem 1rem;
  }

  .nutriTable {
    font-size: 12px;
    line-height: 1.6;
  }
}
