.wrapper {
  text-align: center;
}

.title {
  line-height: 72px;
  font-size: 74px;
  font-weight: 800;
  color: #0f4196;
  font-family: Magnolia;
  margin-top: 55px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 26px;
    margin-top: 20px;
  }
}