.footerContainer {
  padding: 2rem 1.5rem;
  font-size: 12px;
  width: 100%;
  padding: 24px 24px;
  font-weight: 700;

  color: #053282;
  background-color: #006efa;
  width: 100%;
  padding: 24px;
  font-size: 12px;
  font-weight: 700;
}


.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

/* .footerLogo img {
  max-height: 60px;
} */

.footerMenu {
  display: flex;
  gap: 0.8rem;
  text-align: center;
}

.footerMenu a {
  color: #faebc8;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
}

.footerMenu a:hover {
  text-decoration: underline;
}

.footerSocial {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footerSocial a {
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.footerSocial a:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.footerDivider {
  border: none;
  border-top: 1px solid #0f4196;
  opacity: 0.3;
  margin: 1rem 0;
}

.footerCopy {
  text-align: center;
  font-size: 12px;
  color: #faebc8;;
}


@media (max-width: 1024px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .footerMenu {
    flex-direction: column;
    gap: 20px;
    margin: 1rem 0;
  }

  .footerSocial {
    margin-top: 1rem;
  }

  .footerSocial a {
    margin: 0 0.5rem;
  }
}